<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">Color</th>
        <th scope="col" 
            class="sortable" 
            (click)="sort('NAME')"
            [class.sorted-asc]="sortColumn === 'NAME' && sortAsc"
            [class.sorted-desc]="sortColumn === 'NAME' && !sortAsc">
          School Name
          <i class="fas fa-sort ms-1" *ngIf="sortColumn !== 'NAME'"></i>
          <i class="fas fa-sort-up ms-1" *ngIf="sortColumn === 'NAME' && sortAsc"></i>
          <i class="fas fa-sort-down ms-1" *ngIf="sortColumn === 'NAME' && !sortAsc"></i>
        </th>
        <th scope="col" 
            class="sortable text-center" 
            (click)="sort('SRC')">
          2015 Cap.
        </th>
        <th scope="col" 
            class="sortable text-center" 
            (click)="sort('SRC2016')">
          2016 Cap.
        </th>
        <th scope="col" 
            class="sortable text-center" 
            (click)="sort('SRC2017')">
          2017 Cap.
        </th>
        <th scope="col" class="text-center">2015 %</th>
        <th scope="col" class="text-center">2016 %</th>
        <th scope="col" class="text-center">2017 %</th>
        <th scope="col" 
            class="sortable text-center" 
            (click)="sort('students')">
          Students
        </th>
        <th scope="col" 
            class="sortable text-center" 
            (click)="sort('walkablePercent')">
          % Walkable
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let school of schools" 
          [class.table-warning]="selectedSchoolName === school.NAME">
        <td class="text-center">
          <div class="color-indicator" 
               [style.background-color]="schoolColors[school.NAME]">
          </div>
        </td>
        <td>{{ school.NAME }}</td>
        <td class="text-center">{{ school.SRC }}</td>
        <td class="text-center">{{ getCapacity(school, '2016') }}</td>
        <td class="text-center">{{ getCapacity(school, '2017') }}</td>
        <td class="text-center">
          <span [class.text-danger]="isOverCapacity(school, '2015')">
            {{ getUtilization(school, '2015') }}%
          </span>
        </td>
        <td class="text-center">
          <span [class.text-danger]="isOverCapacity(school, '2016')">
            {{ getUtilization(school, '2016') }}%
          </span>
        </td>
        <td class="text-center">
          <span [class.text-danger]="isOverCapacity(school, '2017')">
            {{ getUtilization(school, '2017') }}%
          </span>
        </td>
        <td class="text-center">{{ school.students }}</td>
        <td class="text-center">{{ Math.round((school.walkablePercent || 0) * 100) }}%</td>
      </tr>
    </tbody>
  </table>
</div>
